    <%= form_for(@task, html: {class:"form-horizontal"}) do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description, class: "control-label col-xs-2" %>
      <div class="col-xs-6">
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

      <div class="form-group">
        <div class="actions col-xs-6 col-xs-offset-2">
          <% if params[:action] == 'new'%>
            <%= f.submit "Create Task", class:"btn btn-primary " %>
            <%= link_to 'cancel', tasks_path, class:"btn btn-default" %>

          <% else %>
            <%= f.submit "Edit Task", class:"btn btn-primary " %>
            <%= link_to 'cancel', @task, class:"btn btn-default" %>
          <% end %>
        </div>
      </div>
  <% end %>
