<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <%= image_tag "bikelot.jpg", class: "img-responsive" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <%= image_tag "commute_bike.jpg", class: "img-responsive" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <%= image_tag "lonelybike.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to "Tasks", "/tasks"%></h3>
      </div>
      <div class="panel-body">
        Grouped by projects and lists. Just the way you like 'em
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

<!--WHEN TRYING OUT CSV OR JSON FILE IMPORT, REMOVE THE UL BLOCK BELOW AND -->
<!-- REPLACE WITH CODE BROUGHT IN FROM THE WELCOME CONTROLLER -->
<!-- COMMENTING OUT HTML IS THE WORST, AMIRIGHT? -->

<ul class="list-unstyled">
  <% @quotes.each do |saying| %>
  <p>
    <strong><%= saying.quote %></strong>
    <em><%= saying.quoter %></em>
  </p>
  <% end %>
</ul>
