<!DOCTYPE html>
<html>
  <head>
    <title>GCampHeatherFarley</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "gCamp", root_path, :class =>"navbar-brand" %>
        </div>
      </div>
    </nav>

    <div class= "container">
      <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
      <% end -%>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="container">
      <footer>
        <hr>
          <%= link_to "About", about_path %> |
          <%= link_to "Terms", terms_path %> |
          <%= link_to "FAQ", faq_path %> |
          <%= link_to "Users", users_path %> |
          <%= link_to "Projects", projects_path %> |
          <%= link_to "Tasks", tasks_path%>
      </footer>
    </div>

  </body>
</html>
